{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="default-page">


    <!-- Header -->
    {% include "includes/header.twig" %}

    <div class="container">

        <div role="main" id="main">
    
<!-- Responsive Columns - Four -->
    <!-- Zone Starts -->
    <section id="page-zones__main" class="bk-zone column " data-uniqueid="GnZwwVSJpNcjhjg">

        <!-- Responsive Columns 4 -->
        <div id="page-zones__main-widgets__56ebddf4971fd" data-name="responsivecolumns" class="widget  widget--zone-widget" data-uniqueid="PY6H7TM9fgRlnH6">

            <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">

                <!-- First Column -->
                <section id="page-zones__main-widgets__56e81542a093a-zones__56e81542b0b59" class="bk-zone column columns-four-first" data-uniqueid="wufMyp8YFzVl3xG">

                    <p>(Widgets)</p>
                    <!-- Content -->
                    {{widget('content', 'sidebarcontent', {
                    content: '
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                    <small>A small element</small>
                    <br>
                    <a href="#" title="A link">A link</a>
                    <br>
                    <strong>Bold text</strong>
                    <br>
                    <i>Italicised element</i>
                    <br>
                    <u>Underline element</u>
                    <br>
                    <pre>A line of code</pre>
                    <br>
                    <code>Another line of code</code>
                    <br>
                    <span>Span element</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <u>underline element</u> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <i>italicised element</i> laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in <a href="#" title="a link">a link</a> reprehenderit in voluptate velit esse cillum <strong>bold text</strong> dolore eu fugiat nulla pariatur. Excepteur <span>span element</span> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <ul>
                        <li>An item</li>
                        <li>An item</li>
                        <li>An item</li>
                        <li>An item</li>
                        <li>An item</li>
                    </ul>
                    <ol>
                        <li>Item one</li>
                        <li>Item two</li>
                        <li>Item three</li>
                        <li>Item four</li>
                        <li>Item five</li>
                    </ol>
                    <blockquote>
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut underline element labore et dolore magna aliqua.</p>
                    </blockquote>
                    '})|raw}}

                    <!-- Forms -->
                    {{widget('contactform', 'contact', {
                      'text': 'Submit',
                      'formTitle': 'Contact Us',
                      'email': 'profile'
                    })|raw}}

                    {{widget('signupform', 'emailsignup', {
                      'text': 'Send',
                      'label': 'Your Email',
                      'formTitle': 'Signup Form',
                      'email': 'profile'
                    })|raw}}

                    {{widget('blogsearch', 'blogsearch', {})|raw}}

                    <!-- Buttons -->
                    {{widget('button', 'docsbutton', {
                      'text': 'This is a Button',
                      'align': 'widget-align-left',
                      'action': 'external',
                      'url': 'http://docs.basekit.com/widgets/v2/button-widget/',
                      'target': '_blank'
                    })|raw}}

                    {{widget('tweet', 'tweetblog', {
                      'linkText': 'This is the Tweet Button',
                      'tweetText': 'Tweet This',
                      'align': 'widget-align-left'
                    })|raw}}

                    {{widget('clicktocall', 'headerclicktocall', {
                      'phoneText': '0123 456 789',
                      'italic': false,
                      'bold': false,
                      'fontSize': inherit,
                      'align': 'widget-align-left'
                    })|raw}}

                    {{widget('dropbox', 'downloadbutton', {
                        'text': 'Dropbox',
                      'align': 'widget-align-left',
                      'showFileName': true
                    })|raw}}

                    {{widget('facebooklike', 'likebutton', {
                      text: 'This is the FaceBook Like Button',
                      showFaces: 'true',
                      action: 'like',
                      colorscheme: 'light',
                      layout: 'standard',
                      height: '80',
                      font: 'arial',
                      locale: 'en_US',
                      thisUrl: 'http://docs.basekit.com/widgets/v2/facebook-like/',
                      og_image: 'http://placekitten.com/g/200/300',
                    })|raw}}

                    <br>
                    <p>(Social Icons Widget)</p>
                    {{widget('socialicons', 'socialnetworks', {
                      'googleplus': 'https://plus.google.com/101946323226233111530',
                      'linkedin':'http://www.linkedin.com/company/mycompanyname',
                      'facebook': 'https://www.facebook.com/mycompanyname',
                      'twitter': 'https://twitter.com/mycompanyname',
                      'youtube': 'https://www.youtube.com/user/mycompanyname',
                      'rss': 'http://news.bbc.co.uk/1/hi/help/rss/default.stm'
                    })|raw}}

                    <!-- Profile Widget -->

                    <br>
                    <p>(Profile Widget - Social Icons)</p>
                    {{widget('profile', 'profilesocialicons', {
                      'profileType':'socialicons',
                      'form':'socialicons'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Address)</p>
                    {{widget('profile', 'address', {
                      'profileType':'address',
                      'address':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Email)</p>
                    {{widget('profile', 'email', {
                      'profileType':'email',
                      'email':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Headline)</p>
                    {{widget('profile', 'headline', {
                      'profileType':'headline',
                      'headline':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Strapline)</p>
                    {{widget('profile', 'strapline', {
                      'profileType':'strapline',
                      'strapline':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Company Description)</p>
                    {{widget('profile', 'companydescription', {
                      'profileType':'companydescription',
                      'companydescription':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Business)</p>
                    {{widget('profile', 'business', {
                      'profileType':'business',
                      'business':'profile'
                    })|raw}}

                    <br>
                    <p>(Phone Profile Widget)</p>
                    {{widget('profile', 'phone', {
                      'profileType':'phone',
                      'phone':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Copyright)</p>
                    {{widget('profile', 'copyright', {
                      'profileType':'copyright',
                      'copyright':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Form)</p>
                    {{widget('profile', 'profileform', {
                      'profileType':'form',
                      'form':'profile'
                    })|raw}}

                    <br>
                    <p>(Profile Widget - Latest Tweet)</p>
                    <div id="page-zones__template-widgets__profile-socialicons" class="widget  widget--template-widget" data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-socialicons">
                       <div class="bk-profile  profile  widget__profile">
                          <div class="twitter  profile__twitter  js-twitter">
                             <div class="tweet-item  twitter__tweet-item">
                                <div class="avatar  twitter__avatar">
                                   <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/BaseKit" target="_blank">
                                   <img class="avatar-image  twitter__avatar-image" alt="BaseKit.com" title="BaseKit.com" data-screename="BaseKit" src="https://pbs.twimg.com/profile_images/2388265742/8pkr9i1jj6x3wtu4h9j4_normal.jpeg">
                                   </a>
                                </div>
                                <div class="tweet-wrap  twitter__tweet-wrap">
                                   <a class="account-link  twitter__account-link" href="https://twitter.com/BaseKit" target="_blank">
                                   <span class="account-name  twitter__account-name">BaseKit.com</span>
                                   </a>
                                   <p class="tweet-content  twitter__tweet-content">HUGE thanks to <a href="https://twitter.com/WHD_global">@WHD_global</a>! The BaseKit team enjoyed another excellent year in Rust <a href="https://twitter.com/search/?src=hash&amp;q=%23WHD2016">#WHD2016</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23WHDglobal">#WHDglobal</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23BaseKit8">#BaseKit8</a> <a href="https://t.co/xarjUhrodM">pic.twitter.com/xarjUhrodM</a></p>
                                   <span class="tweet-metadata  twitter__tweet-meta">
                                   <time class="timestamp  twitter__timestamp" datetime="2016-03-22T00:00:00+00:00">22 Mar 2016</time>
                                   <span class="via  twitter-feed__via">via</span>
                                   <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>
                                   </span>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div><!-- End Profile Widget - Latest Tweet-->

                    <!-- Twitter -->

                    <div id="page-zones__main-widgets__TwitterWidget" data-name="twitter" class="widget  widget--zone-widget">
                       <div class="bk-twitter  twitter  widget__twitter">
                          <ul class="tweet-list  twitter__tweet-list  js-twitter">
                             <li class="tweet-item  twitter__tweet-item">
                                <div class="avatar  twitter__avatar">
                                   <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                   <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                   </a>
                                </div>
                                <div class="tweet-wrap  twitter__tweet-wrap">
                                   <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                   <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                   </a>
                                   <p class="tweet-content  twitter__tweet-content">How To Get Big-Brand Search Visibility</p>
                                   <span class="tweet-metadata  twitter__tweet-meta">
                                   <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                   <span class="via  twitter__via">via</span>
                                   <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                   </span>
                                </div>
                             </li>
                             <li class="tweet-item  twitter__tweet-item">
                                <div class="avatar  twitter__avatar">
                                   <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                   <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                   </a>
                                </div>
                                <div class="tweet-wrap  twitter__tweet-wrap">
                                   <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                   <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                   </a>
                                   <p class="tweet-content  twitter__tweet-content">Check out the 10 companies that control the internet </p>
                                   <span class="tweet-metadata  twitter__tweet-meta">
                                   <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                   <span class="via  twitter__via">via</span>
                                   <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                   </span>
                                </div>
                             </li>
                          </ul>
                       </div>
                    </div><!-- End Twitter -->

                    <!-- Images -->

                    <p>(Image Widget)</p>
                    {{widget('image', 'headerimage', {
                      'src': '//placehold.it/250x250',
                      'title': 'The title text',
                      'description': 'The description text',
                      'alt': 'The alternate text',
                      'fileName': 'Logo Image'
                    })|raw}}


                    <p>(Gallery)</p>
                    {{widget('gallery', 'imagegallery', {
                      'showTitle': true,
                      'showDescription': true,
                      'images':[
                        {
                          'url':'http://placehold.it/350x300',
                          'title':'First image title',
                          'description': 'First image description'
                        },
                        {
                          'url':'http://placehold.it/350x400',
                          'title':'Second image title',
                          'description': 'Second image description'
                        },
                        {
                          'url':'http://placehold.it/650x300',
                          'title':'Third image title',
                          'description': 'Third image description'
                        }
                      ]
                    })|raw}}

                    <p>(Slideshow)</p>
                    {{widget('responsiveslideshow', 'slideshow', {
                          'duration':'3',
                          'transSpeed': '1000',
                          'transType': 'fade',
                          'showButtons': true,
                          'showBullets': true,
                          'allowPause': true,
                          'allowLoop': false,
                          'showTitle': true,
                          'showDescription': true,
                          'crop': true,
                      'images':[
                      {
                          'imageHeight':'350',
                          'imageWidth':'300',
                          'url':'http://placehold.it/350x300',
                          'title':'First slide title',
                          'description': 'First slide description'
                        },
                      {
                          'imageHeight':'350',
                          'imageWidth':'400',
                          'url':'http://placehold.it/350x400',
                          'title':'Second slide title',
                          'description': 'Second slide description'
                        },
                      {
                          'imageHeight':'350',
                          'imageWidth':'500',
                          'url':'http://placehold.it/350x500',
                          'title':'Third slide title',
                          'description': 'Third slide description'
                        }
                      ]
                    })|raw}}
                </section><!-- End First Column -->

                <!-- Second Column -->
                <section id="page-zones__main-widgets__56e81542a093a-zones__56e81542b9f74" class="bk-zone column columns-four-second" data-uniqueid="hJICAAG9EUqp0G5">

                    <!-- Blog -->
                    <p>(Blog Posts List)</p>
                    {{widget('blogpostlist', 'allblogposts', {})|raw}}

                    <br>
                    <p>(Single Blog Post)</p>
                    {{widget('blogpost', 'singleblogpost', {})|raw}}
                </section><!-- End Second Column -->

                <!-- Third Column -->
                <section id="page-zones__main-widgets__56e81542a093a-zones__56e99191b1959" class="bk-zone column columns-four-third" data-uniqueid="rWXqziIOJfe6fqT">

                    <!-- Ecommerce -->
                    <p>(Products List)</p>
                    {{widget('ecomproductslist', 'productlist', {})|raw}}

                    <br>
                    <p>(Featured Products)</p>
                    <div id="page-zones__main-widgets__ecomfeaturedproductsWidget" data-name="ecomfeaturedproducts" class="widget  widget--zone-widget">
                      <div class="bk-ecomfeaturedproducts  ecomfeaturedproducts  widget__ecomfeaturedproducts">
                        <section class="listing-section  listing-section--featured  ecomfeaturedproducts__listing-section">
                          <header class="listing-header  ecomfeaturedproducts__listing-header">
                            <h2 class="listing-title  ecomfeaturedproducts__listing-title">Featured Products</h2>
                          </header>
                          <div class="listing-body  ecomfeaturedproducts__listing-body  even products-6">
                            <ul class="product-list  ecomfeaturedproducts__product-list">
                              <li class="product-item  ecomfeaturedproducts__product-item">
                                <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                  <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                    <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/2250x800')">
                                      <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/2250x800" alt="Aliquam Handbag">
                                    </a>
                                  </div>
                                  <header class="product-item-details  ecomfeaturedproducts__product-content">
                                    <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                      <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Aliquam Handbag</a>
                                    </h3>
                                    <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                  </header>
                                </article>
                              </li>
                              <li class="product-item  ecomfeaturedproducts__product-item">
                                <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                  <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                    <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/300x100')">
                                    <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/300x100" alt="Commodo Handbag">
                                    </a>
                                  </div>
                                  <header class="product-item-details  ecomfeaturedproducts__product-content">
                                    <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                      <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Commodo Handbag</a>
                                    </h3>
                                    <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                  </header>
                                </article>
                              </li>
                              <li class="product-item  ecomfeaturedproducts__product-item">
                                <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                  <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                    <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/250x250')">
                                    <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/250x250" alt="Conubia Nostra Handbag">
                                    </a>
                                  </div>
                                  <header class="product-item-details  ecomfeaturedproducts__product-content">
                                    <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                      <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Conubia Nostra Handbag</a>
                                    </h3>
                                    <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                  </header>
                                </article>
                              </li>
                            </ul>
                          </div>
                        </section>
                      </div>
                    </div><!-- End Featured Products -->

                    <br>
                    <p>(Single Product)</p>
                    {{widget('ecomproduct', 'singleproduct', {})|raw}}

                    <br>
                    <p>(Basket Summary)</p>
                    {{widget('ecombasketsummary', 'basketsummary', {})|raw}}

                    <br>
                    <p>(Basket)</p>
                    {{widget('ecombasket', 'shopbasket', {})|raw}}

                    <br>
                    <p>(Ecommerce Categories)</p>
                    <div id="page-zones__main-widgets__ecomcategorieslistWidget" data-name="ecomcategorieslist" class="widget  widget--zone-widget">
                      <div class="bk-ecomcategorieslist  ecomcategorieslist  widget__ecomcategorieslist">
                        <div class="categories-listing  widget__categories-listing">
                          <ul class="categories-list  categories-listing__categories-list">
                            <li class="category-item  categories-listing__category-item">
                              <a class="category-link  categories-listing__category-link" href="/store?category=woman">woman</a>
                            </li>
                            <li class="category-item  categories-listing__category-item">
                              <a class="category-link  categories-listing__category-link" href="/store?category=man">man</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div><!-- End Ecom Categories -->

                    <br>
                    <p>(Ecommerce Legal Details)</p>
                    {{widget('ecomlegal', 'legaldetails', {})|raw}}
                </section><!-- End Third Column -->

                <!-- Fourth Column -->
                <section id="page-zones__main-widgets__56e81542a093a-zones__56ebde3a9c32a" class="bk-zone column columns-four-fourth" data-uniqueid="rdxKGNT8vQgxLK1">

                    <!-- Menu -->

                    <p>(Menu)</p>

                    {{widget('menusections', 'menusectionsnav', {})|raw}}

                    {{widget('menu', 'menu', {})|raw}}
                </section><!-- End Fourth Column -->

            </div>

        </div> <!-- End Responsive Columns 4 -->

    </section> <!-- Zone Ends -->

    <!-- Responsive Columns - Three -->

            <!-- Zone Starts -->
            <section id="page-zones__main" class="bk-zone column " data-uniqueid="GnZwwVSJpNcjhjg">

                <!-- Responsive Columns 3 -->
                <div id="page-zones__main-widgets__56ebddf4971fd" data-name="responsivecolumns" class="widget  widget--zone-widget" data-uniqueid="PY6H7TM9fgRlnH6">

                        <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">

                        <!-- First Column -->

                        <section id="page-zones__main-widgets__56ebddf4971fd-zones__56ebddf4a2e05" class="bk-zone column columns-three-left" data-uniqueid="B6ydIM73cX9SNaF">

                            <!-- Content -->
                            {{widget('content', 'sidebarcontent', {
                            content: '
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                            <small>A small element</small>
                            <br>
                            <a href="#" title="A link">A link</a>
                            <br>
                            <strong>Bold text</strong>
                            <br>
                            <i>Italicised element</i>
                            <br>
                            <u>Underline element</u>
                            <br>
                            <pre>A line of code</pre>
                            <br>
                            <code>Another line of code</code>
                            <br>
                            <span>Span element</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <u>underline element</u> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <i>italicised element</i> laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in <a href="#" title="a link">a link</a> reprehenderit in voluptate velit esse cillum <strong>bold text</strong> dolore eu fugiat nulla pariatur. Excepteur <span>span element</span> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <ul>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                            </ul>
                            <ol>
                                <li>Item one</li>
                                <li>Item two</li>
                                <li>Item three</li>
                                <li>Item four</li>
                                <li>Item five</li>
                            </ol>
                            <blockquote>
                                <h1>Heading 1</h1>
                                <h2>Heading 2</h2>
                                <h3>Heading 3</h3>
                                <h4>Heading 4</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut underline element labore et dolore magna aliqua.</p>
                            </blockquote>
                            '})|raw}}

                            <!-- Forms -->
                            {{widget('contactform', 'contact', {
                              'text': 'Submit',
                              'formTitle': 'Contact Us',
                              'email': 'profile'
                            })|raw}}

                            {{widget('signupform', 'emailsignup', {
                              'text': 'Send',
                              'label': 'Your Email',
                              'formTitle': 'Signup Form',
                              'email': 'profile'
                            })|raw}}

                            {{widget('blogsearch', 'blogsearch', {})|raw}}

                            <!-- Buttons -->
                            {{widget('button', 'docsbutton', {
                              'text': 'This is a Button',
                              'align': 'widget-align-left',
                              'action': 'external',
                              'url': 'http://docs.basekit.com/widgets/v2/button-widget/',
                              'target': '_blank'
                            })|raw}}

                            {{widget('tweet', 'tweetblog', {
                              'linkText': 'This is the Tweet Button',
                              'tweetText': 'Tweet This',
                              'align': 'widget-align-left'
                            })|raw}}

                            {{widget('clicktocall', 'headerclicktocall', {
                              'phoneText': '0123 456 789',
                              'italic': false,
                              'bold': false,
                              'fontSize': inherit,
                              'align': 'widget-align-left'
                            })|raw}}

                            {{widget('dropbox', 'downloadbutton', {
                                'text': 'Dropbox',
                              'align': 'widget-align-left',
                              'showFileName': true
                            })|raw}}

                            {{widget('facebooklike', 'likebutton', {
                              text: 'This is the FaceBook Like Button',
                              showFaces: 'true',
                              action: 'like',
                              colorscheme: 'light',
                              layout: 'standard',
                              height: '80',
                              font: 'arial',
                              locale: 'en_US',
                              thisUrl: 'http://docs.basekit.com/widgets/v2/facebook-like/',
                              og_image: 'http://placekitten.com/g/200/300',
                            })|raw}}

                            <br>
                            <p>(Social Icons Widget)</p>
                            {{widget('socialicons', 'socialnetworks', {
                              'googleplus': 'https://plus.google.com/101946323226233111530',
                              'linkedin':'http://www.linkedin.com/company/mycompanyname',
                              'facebook': 'https://www.facebook.com/mycompanyname',
                              'twitter': 'https://twitter.com/mycompanyname',
                              'youtube': 'https://www.youtube.com/user/mycompanyname',
                              'rss': 'http://news.bbc.co.uk/1/hi/help/rss/default.stm'
                            })|raw}}

                            <!-- Profile Widget -->

                            <br>
                            <p>(Profile Widget - Social Icons)</p>
                            {{widget('profile', 'profilesocialicons', {
                              'profileType':'socialicons',
                              'form':'socialicons'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Address)</p>
                            {{widget('profile', 'address', {
                              'profileType':'address',
                              'address':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Email)</p>
                            {{widget('profile', 'email', {
                              'profileType':'email',
                              'email':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Headline)</p>
                            {{widget('profile', 'headline', {
                              'profileType':'headline',
                              'headline':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Strapline)</p>
                            {{widget('profile', 'strapline', {
                              'profileType':'strapline',
                              'strapline':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Company Description)</p>
                            {{widget('profile', 'companydescription', {
                              'profileType':'companydescription',
                              'companydescription':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Business)</p>
                            {{widget('profile', 'business', {
                              'profileType':'business',
                              'business':'profile'
                            })|raw}}

                            <br>
                            <p>(Phone Profile Widget)</p>
                            {{widget('profile', 'phone', {
                              'profileType':'phone',
                              'phone':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Copyright)</p>
                            {{widget('profile', 'copyright', {
                              'profileType':'copyright',
                              'copyright':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Form)</p>
                            {{widget('profile', 'profileform', {
                              'profileType':'form',
                              'form':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Latest Tweet)</p>
                            <div id="page-zones__template-widgets__profile-socialicons" class="widget  widget--template-widget" data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-socialicons">
                               <div class="bk-profile  profile  widget__profile">
                                  <div class="twitter  profile__twitter  js-twitter">
                                     <div class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/BaseKit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.com" title="BaseKit.com" data-screename="BaseKit" src="https://pbs.twimg.com/profile_images/2388265742/8pkr9i1jj6x3wtu4h9j4_normal.jpeg">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/BaseKit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">HUGE thanks to <a href="https://twitter.com/WHD_global">@WHD_global</a>! The BaseKit team enjoyed another excellent year in Rust <a href="https://twitter.com/search/?src=hash&amp;q=%23WHD2016">#WHD2016</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23WHDglobal">#WHDglobal</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23BaseKit8">#BaseKit8</a> <a href="https://t.co/xarjUhrodM">pic.twitter.com/xarjUhrodM</a></p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2016-03-22T00:00:00+00:00">22 Mar 2016</time>
                                           <span class="via  twitter-feed__via">via</span>
                                           <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>
                                           </span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div><!-- End Profile Widget - Latest Tweet-->

                            <!-- Twitter -->

                            <div id="page-zones__main-widgets__TwitterWidget" data-name="twitter" class="widget  widget--zone-widget">
                               <div class="bk-twitter  twitter  widget__twitter">
                                  <ul class="tweet-list  twitter__tweet-list  js-twitter">
                                     <li class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">How To Get Big-Brand Search Visibility</p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                           <span class="via  twitter__via">via</span>
                                           <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                           </span>
                                        </div>
                                     </li>
                                     <li class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">Check out the 10 companies that control the internet </p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                           <span class="via  twitter__via">via</span>
                                           <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                           </span>
                                        </div>
                                     </li>
                                  </ul>
                               </div>
                            </div><!-- End Twitter -->

                            <!-- Images -->

                            <p>(Image Widget)</p>
                            {{widget('image', 'headerimage', {
                              'src': '//placehold.it/250x250',
                              'title': 'The title text',
                              'description': 'The description text',
                              'alt': 'The alternate text',
                              'fileName': 'Logo Image'
                            })|raw}}


                            <p>(Gallery)</p>
                            {{widget('gallery', 'imagegallery', {
                              'showTitle': true,
                              'showDescription': true,
                              'images':[
                                {
                                  'url':'http://placehold.it/350x300',
                                  'title':'First image title',
                                  'description': 'First image description'
                                },
                                {
                                  'url':'http://placehold.it/350x400',
                                  'title':'Second image title',
                                  'description': 'Second image description'
                                },
                                {
                                  'url':'http://placehold.it/650x300',
                                  'title':'Third image title',
                                  'description': 'Third image description'
                                }
                              ]
                            })|raw}}

                            <p>(Slideshow)</p>
                            {{widget('responsiveslideshow', 'slideshow', {
                                  'duration':'3',
                                  'transSpeed': '1000',
                                  'transType': 'fade',
                                  'showButtons': true,
                                  'showBullets': true,
                                  'allowPause': true,
                                  'allowLoop': false,
                                  'showTitle': true,
                                  'showDescription': true,
                                  'crop': true,
                              'images':[
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'300',
                                  'url':'http://placehold.it/350x300',
                                  'title':'First slide title',
                                  'description': 'First slide description'
                                },
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'400',
                                  'url':'http://placehold.it/350x400',
                                  'title':'Second slide title',
                                  'description': 'Second slide description'
                                },
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'500',
                                  'url':'http://placehold.it/350x500',
                                  'title':'Third slide title',
                                  'description': 'Third slide description'
                                }
                              ]
                            })|raw}}

                        </section><!-- End First Column -->

                        <!-- Second Column -->

                        <section id="page-zones__main-widgets__56ebddf4971fd-zones__56ebddf89cc63" class="bk-zone column columns-three-middle" data-uniqueid="e2YHWUnmdua44Sq">

                            <!-- Blog -->
                            <p>(Blog Posts List)</p>
                            {{widget('blogpostlist', 'allblogposts', {})|raw}}

                            <br>
                            <p>(Single Blog Post)</p>
                            {{widget('blogpost', 'singleblogpost', {})|raw}}

                            <!-- Ecommerce -->
                            <br>
                            <p>(Products List)</p>
                            {{widget('ecomproductslist', 'productlist', {})|raw}}

                            <br>
                            <p>(Featured Products)</p>
                            <div id="page-zones__main-widgets__ecomfeaturedproductsWidget" data-name="ecomfeaturedproducts" class="widget  widget--zone-widget">
                              <div class="bk-ecomfeaturedproducts  ecomfeaturedproducts  widget__ecomfeaturedproducts">
                                <section class="listing-section  listing-section--featured  ecomfeaturedproducts__listing-section">
                                  <header class="listing-header  ecomfeaturedproducts__listing-header">
                                    <h2 class="listing-title  ecomfeaturedproducts__listing-title">Featured Products</h2>
                                  </header>
                                  <div class="listing-body  ecomfeaturedproducts__listing-body  even products-6">
                                    <ul class="product-list  ecomfeaturedproducts__product-list">
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/2250x800')">
                                              <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/2250x800" alt="Aliquam Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Aliquam Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/300x100')">
                                            <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/300x100" alt="Commodo Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Commodo Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/250x250')">
                                            <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/250x250" alt="Conubia Nostra Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Conubia Nostra Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                    </ul>
                                  </div>
                                </section>
                              </div>
                            </div><!-- End Featured Products -->

                            <br>
                            <p>(Single Product)</p>
                            {{widget('ecomproduct', 'singleproduct', {})|raw}}

                            <br>
                            <p>(Basket)</p>
                            {{widget('ecombasket', 'shopbasket', {})|raw}}

                            <br>
                            <p>(Ecommerce Categories)</p>
                            <div id="page-zones__main-widgets__ecomcategorieslistWidget" data-name="ecomcategorieslist" class="widget  widget--zone-widget">
                              <div class="bk-ecomcategorieslist  ecomcategorieslist  widget__ecomcategorieslist">
                                <div class="categories-listing  widget__categories-listing">
                                  <ul class="categories-list  categories-listing__categories-list">
                                    <li class="category-item  categories-listing__category-item">
                                      <a class="category-link  categories-listing__category-link" href="/store?category=woman">woman</a>
                                    </li>
                                    <li class="category-item  categories-listing__category-item">
                                      <a class="category-link  categories-listing__category-link" href="/store?category=man">man</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div><!-- End Ecom Categories -->

                            <br>
                            <p>(Ecommerce Legal Details)</p>
                            {{widget('ecomlegal', 'legaldetails', {})|raw}}


                        </section><!-- End Second Column -->

                        <!-- Third Column -->

                        <section id="page-zones__main-widgets__56ebddf4971fd-zones__56ebde0848318" class="bk-zone column columns-three-right" data-uniqueid="gn8Gi0jPxc7Gp5r">

                            <!-- Menu -->

                            <p>(Menu)</p>

                            {{widget('menusections', 'menusectionsnav', {})|raw}}

                            {{widget('menu', 'menu', {})|raw}}


                        </section><!-- End Third Column -->

                    </div>

                </div> <!-- End Responsive Columns 2 -->

        </section> <!-- Zone Ends -->

<!-- Responsive Columns - Two -->

            <!-- Zone Starts -->
            <section id="page-zones__main" class="bk-zone column " data-uniqueid="GnZwwVSJpNcjhjg">

                <!-- Responsive Columns 2 -->
                <div id="page-zones__main-widgets__5703e3328435a" data-name="responsivecolumns" class="widget  widget--zone-widget" data-uniqueid="6J7nxSqaRS9X0Lz">

                    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">

                        <!-- First Column -->

                        <section id="page-zones__main-widgets__5703e3328435a-zones__5703e33291861" class="bk-zone column columns-two-left" data-uniqueid="T1G211Nib9gu1Vm">
                            <!-- Content -->
                            {{widget('content', 'sidebarcontent', {
                            content: '
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                            <small>A small element</small>
                            <br>
                            <a href="#" title="A link">A link</a>
                            <br>
                            <strong>Bold text</strong>
                            <br>
                            <i>Italicised element</i>
                            <br>
                            <u>Underline element</u>
                            <br>
                            <pre>A line of code</pre>
                            <br>
                            <code>Another line of code</code>
                            <br>
                            <span>Span element</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <u>underline element</u> labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <i>italicised element</i> laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in <a href="#" title="a link">a link</a> reprehenderit in voluptate velit esse cillum <strong>bold text</strong> dolore eu fugiat nulla pariatur. Excepteur <span>span element</span> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <ul>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                                <li>An item</li>
                            </ul>
                            <ol>
                                <li>Item one</li>
                                <li>Item two</li>
                                <li>Item three</li>
                                <li>Item four</li>
                                <li>Item five</li>
                            </ol>
                            <blockquote>
                                <h1>Heading 1</h1>
                                <h2>Heading 2</h2>
                                <h3>Heading 3</h3>
                                <h4>Heading 4</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut underline element labore et dolore magna aliqua.</p>
                            </blockquote>
                            '})|raw}}

                            <!-- Forms -->
                            {{widget('contactform', 'contact', {
                              'text': 'Submit',
                              'formTitle': 'Contact Us',
                              'email': 'profile'
                            })|raw}}

                            {{widget('signupform', 'emailsignup', {
                              'text': 'Send',
                              'label': 'Your Email',
                              'formTitle': 'Signup Form',
                              'email': 'profile'
                            })|raw}}

                            {{widget('blogsearch', 'blogsearch', {})|raw}}

                            <!-- Buttons -->
                            {{widget('button', 'docsbutton', {
                              'text': 'This is a Button',
                              'align': 'widget-align-left',
                              'action': 'external',
                              'url': 'http://docs.basekit.com/widgets/v2/button-widget/',
                              'target': '_blank'
                            })|raw}}

                            {{widget('tweet', 'tweetblog', {
                              'linkText': 'This is the Tweet Button',
                              'tweetText': 'Tweet This',
                              'align': 'widget-align-left'
                            })|raw}}

                            {{widget('clicktocall', 'headerclicktocall', {
                              'phoneText': '0123 456 789',
                              'italic': false,
                              'bold': false,
                              'fontSize': inherit,
                              'align': 'widget-align-left'
                            })|raw}}

                            {{widget('dropbox', 'downloadbutton', {
                                'text': 'Dropbox',
                              'align': 'widget-align-left',
                              'showFileName': true
                            })|raw}}

                            {{widget('facebooklike', 'likebutton', {
                              text: 'This is the FaceBook Like Button',
                              showFaces: 'true',
                              action: 'like',
                              colorscheme: 'light',
                              layout: 'standard',
                              height: '80',
                              font: 'arial',
                              locale: 'en_US',
                              thisUrl: 'http://docs.basekit.com/widgets/v2/facebook-like/',
                              og_image: 'http://placekitten.com/g/200/300',
                            })|raw}}

                            <br>
                            <p>(Social Icons Widget)</p>
                            {{widget('socialicons', 'socialnetworks', {
                              'googleplus': 'https://plus.google.com/101946323226233111530',
                              'linkedin':'http://www.linkedin.com/company/mycompanyname',
                              'facebook': 'https://www.facebook.com/mycompanyname',
                              'twitter': 'https://twitter.com/mycompanyname',
                              'youtube': 'https://www.youtube.com/user/mycompanyname',
                              'rss': 'http://news.bbc.co.uk/1/hi/help/rss/default.stm'
                            })|raw}}

                            <!-- Profile Widget -->

                            <br>
                            <p>(Profile Widget - Social Icons)</p>
                            {{widget('profile', 'profilesocialicons', {
                              'profileType':'socialicons',
                              'form':'socialicons'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Address)</p>
                            {{widget('profile', 'address', {
                              'profileType':'address',
                              'address':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Email)</p>
                            {{widget('profile', 'email', {
                              'profileType':'email',
                              'email':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Headline)</p>
                            {{widget('profile', 'headline', {
                              'profileType':'headline',
                              'headline':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Strapline)</p>
                            {{widget('profile', 'strapline', {
                              'profileType':'strapline',
                              'strapline':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Company Description)</p>
                            {{widget('profile', 'companydescription', {
                              'profileType':'companydescription',
                              'companydescription':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Business)</p>
                            {{widget('profile', 'business', {
                              'profileType':'business',
                              'business':'profile'
                            })|raw}}

                            <br>
                            <p>(Phone Profile Widget)</p>
                            {{widget('profile', 'phone', {
                              'profileType':'phone',
                              'phone':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Copyright)</p>
                            {{widget('profile', 'copyright', {
                              'profileType':'copyright',
                              'copyright':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Form)</p>
                            {{widget('profile', 'profileform', {
                              'profileType':'form',
                              'form':'profile'
                            })|raw}}

                            <br>
                            <p>(Profile Widget - Latest Tweet)</p>
                            <div id="page-zones__template-widgets__profile-socialicons" class="widget  widget--template-widget" data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-socialicons">
                               <div class="bk-profile  profile  widget__profile">
                                  <div class="twitter  profile__twitter  js-twitter">
                                     <div class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/BaseKit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.com" title="BaseKit.com" data-screename="BaseKit" src="https://pbs.twimg.com/profile_images/2388265742/8pkr9i1jj6x3wtu4h9j4_normal.jpeg">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/BaseKit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">HUGE thanks to <a href="https://twitter.com/WHD_global">@WHD_global</a>! The BaseKit team enjoyed another excellent year in Rust <a href="https://twitter.com/search/?src=hash&amp;q=%23WHD2016">#WHD2016</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23WHDglobal">#WHDglobal</a> <a href="https://twitter.com/search/?src=hash&amp;q=%23BaseKit8">#BaseKit8</a> <a href="https://t.co/xarjUhrodM">pic.twitter.com/xarjUhrodM</a></p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2016-03-22T00:00:00+00:00">22 Mar 2016</time>
                                           <span class="via  twitter-feed__via">via</span>
                                           <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>
                                           </span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div><!-- End Profile Widget - Latest Tweet-->

                            <!-- Twitter -->

                            <div id="page-zones__main-widgets__TwitterWidget" data-name="twitter" class="widget  widget--zone-widget">
                               <div class="bk-twitter  twitter  widget__twitter">
                                  <ul class="tweet-list  twitter__tweet-list  js-twitter">
                                     <li class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">How To Get Big-Brand Search Visibility</p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                           <span class="via  twitter__via">via</span>
                                           <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                           </span>
                                        </div>
                                     </li>
                                     <li class="tweet-item  twitter__tweet-item">
                                        <div class="avatar  twitter__avatar">
                                           <a class="avatar-link  twitter__avatar-link" href="https://twitter.com/basekit" target="_blank">
                                           <img class="avatar-image  twitter__avatar-image" alt="BaseKit.Com" title="BaseKit.Com" data-screename="basekit" src="//placehold.it/98x98">
                                           </a>
                                        </div>
                                        <div class="tweet-wrap  twitter__tweet-wrap">
                                           <a class="account-link  twitter__account-link" href="https://twitter.com/basekit" target="_blank">
                                           <span class="account-name  twitter__account-name">BaseKit.Com</span>
                                           </a>
                                           <p class="tweet-content  twitter__tweet-content">Check out the 10 companies that control the internet </p>
                                           <span class="tweet-metadata  twitter__tweet-meta">
                                           <time class="timestamp  twitter__timestamp" datetime="2014-08-07T00:00:00+02:00">Thu Aug 2014</time>
                                           <span class="via  twitter__via">via</span>
                                           <a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>
                                           </span>
                                        </div>
                                     </li>
                                  </ul>
                               </div>
                            </div><!-- End Twitter -->

                        <!-- Images -->

                            <p>(Image Widget)</p>
                            {{widget('image', 'headerimage', {
                              'src': '//placehold.it/250x250',
                              'title': 'The title text',
                              'description': 'The description text',
                              'alt': 'The alternate text',
                              'fileName': 'Logo Image'
                            })|raw}}


                            <p>(Gallery)</p>
                            {{widget('gallery', 'imagegallery', {
                              'showTitle': true,
                              'showDescription': true,
                              'images':[
                                {
                                  'url':'http://placehold.it/350x300',
                                  'title':'First image title',
                                  'description': 'First image description'
                                },
                                {
                                  'url':'http://placehold.it/350x400',
                                  'title':'Second image title',
                                  'description': 'Second image description'
                                },
                                {
                                  'url':'http://placehold.it/650x300',
                                  'title':'Third image title',
                                  'description': 'Third image description'
                                }
                              ]
                            })|raw}}

                            <p>(Slideshow)</p>
                            {{widget('responsiveslideshow', 'slideshow', {
                                  'duration':'3',
                                  'transSpeed': '1000',
                                  'transType': 'fade',
                                  'showButtons': true,
                                  'showBullets': true,
                                  'allowPause': true,
                                  'allowLoop': false,
                                  'showTitle': true,
                                  'showDescription': true,
                                  'crop': true,
                              'images':[
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'300',
                                  'url':'http://placehold.it/350x300',
                                  'title':'First slide title',
                                  'description': 'First slide description'
                                },
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'400',
                                  'url':'http://placehold.it/350x400',
                                  'title':'Second slide title',
                                  'description': 'Second slide description'
                                },
                              {
                                  'imageHeight':'350',
                                  'imageWidth':'500',
                                  'url':'http://placehold.it/350x500',
                                  'title':'Third slide title',
                                  'description': 'Third slide description'
                                }
                              ]
                            })|raw}}

                        <!-- Blog -->
                            <br>
                            <p>(Blog Posts List)</p>
                            {{widget('blogpostlist', 'allblogposts', {})|raw}}

                            <br>
                            <p>(Single Blog Post)</p>
                            {{widget('blogpost', 'singleblogpost', {})|raw}}

                        <!-- Ecommerce -->
                            <br>
                            <p>(Products List)</p>
                            {{widget('ecomproductslist', 'productlist', {})|raw}}

                            <br>
                            <p>(Featured Products)</p>
                            <div id="page-zones__main-widgets__ecomfeaturedproductsWidget" data-name="ecomfeaturedproducts" class="widget  widget--zone-widget">
                              <div class="bk-ecomfeaturedproducts  ecomfeaturedproducts  widget__ecomfeaturedproducts">
                                <section class="listing-section  listing-section--featured  ecomfeaturedproducts__listing-section">
                                  <header class="listing-header  ecomfeaturedproducts__listing-header">
                                    <h2 class="listing-title  ecomfeaturedproducts__listing-title">Featured Products</h2>
                                  </header>
                                  <div class="listing-body  ecomfeaturedproducts__listing-body  even products-6">
                                    <ul class="product-list  ecomfeaturedproducts__product-list">
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/2250x800')">
                                              <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/2250x800" alt="Aliquam Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Aliquam Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/300x100')">
                                            <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/300x100" alt="Commodo Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Commodo Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                      <li class="product-item  ecomfeaturedproducts__product-item">
                                        <article class="product-item-article  ecomfeaturedproducts__product-item-article">
                                          <div class="product-item-image  ecomfeaturedproducts__product-item-image">
                                            <a class="image-link  ecomfeaturedproducts__image-link" href="/store/product/" style="background-image:url('//placehold.it/250x250')">
                                            <img class="image  image--thumb  ecomfeaturedproducts__image" src="//placehold.it/250x250" alt="Conubia Nostra Handbag">
                                            </a>
                                          </div>
                                          <header class="product-item-details  ecomfeaturedproducts__product-content">
                                            <h3 class="product-item-title  ecomfeaturedproducts__product-item-title">
                                              <a class="title-link  ecomfeaturedproducts__title-link" href="/store/product/">Conubia Nostra Handbag</a>
                                            </h3>
                                            <p class="product-item-price  ecomfeaturedproducts__product-item-price">£9.99</p>
                                          </header>
                                        </article>
                                      </li>
                                    </ul>
                                  </div>
                                </section>
                              </div>
                            </div><!-- End Featured Products -->

                            <br>
                            <p>(Single Product)</p>
                            {{widget('ecomproduct', 'singleproduct', {})|raw}}

                            <br>
                            <p>(Basket)</p>
                            {{widget('ecombasket', 'shopbasket', {})|raw}}

                            <br>
                            <p>(Ecommerce Categories)</p>
                            <div id="page-zones__main-widgets__ecomcategorieslistWidget" data-name="ecomcategorieslist" class="widget  widget--zone-widget">
                              <div class="bk-ecomcategorieslist  ecomcategorieslist  widget__ecomcategorieslist">
                                <div class="categories-listing  widget__categories-listing">
                                  <ul class="categories-list  categories-listing__categories-list">
                                    <li class="category-item  categories-listing__category-item">
                                      <a class="category-link  categories-listing__category-link" href="/store?category=woman">woman</a>
                                    </li>
                                    <li class="category-item  categories-listing__category-item">
                                      <a class="category-link  categories-listing__category-link" href="/store?category=man">man</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div><!-- End Ecom Categories -->

                            <br>
                            <p>(Ecommerce Legal Details)</p>
                            {{widget('ecomlegal', 'legaldetails', {})|raw}}

                        </section><!-- End First Column -->

                        <!-- Second Column -->

                        <section id="page-zones__main-widgets__5703e3328435a-zones__5703e3329527e" class="bk-zone column columns-two-right" data-uniqueid="RqIHObgcXZ7Dsju">

                         <!-- Menu -->

                            <p>(Menu)</p>

                            {{widget('menusections', 'menusectionsnav', {})|raw}}

                            {{widget('menu', 'menu', {})|raw}}

                        </section>


                    </div>

                </div> <!-- End Responsive Columns 2 -->

        </section> <!-- Zone Ends -->


    
        </div>

    </div>

    <!-- Footer -->
    {% include "includes/footer.twig" %}


</div>

{% endblock %}

